In [4]:
import numpy as np
import pandas as pd

In [6]:
import pandas as pd

df = pd.read_csv(
    r"C:\Users\vishal\Desktop\spam.csv",
    encoding="latin-1"
)

df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4633,ham,These won't do. Have to move on to morphine,NaN,NaN,NaN
4097,ham,I think just yourself Û_Thanks and see you tomo,NaN,NaN,NaN
2836,ham,1's reach home call me.,NaN,NaN,NaN
4544,ham,Never y lei... I v lazy... Got wat? Dat day Ì_...,NaN,NaN,NaN
1977,spam,Reply to win å£100 weekly! Where will the 2006...,NaN,NaN,NaN

In [7]:
df.shape

(5572, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [9]:
df.drop(columns=['Unnamed:2','Unnamed:3','Unnamed:4'],inplace=True)

KeyError: "['Unnamed:2', 'Unnamed:3', 'Unnamed:4'] not found in axis"

In [10]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
211,ham,Home so we can always chat,NaN,NaN,NaN
2974,ham,"Don't worry, * is easy once have ingredients!",NaN,NaN,NaN
1354,ham,Baaaaabe! I misss youuuuu ! Where are you ? I ...,NaN,NaN,NaN
2631,spam,"URGENT! Your mobile No 077xxx WON a å£2,000 Bo...",NaN,NaN,NaN
2182,ham,PS U no ur a grown up now right?,NaN,NaN,NaN

In [11]:


df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [12]:
df.sample(5)

       v1                                                 v2
4999  ham  Well its not like you actually called someone ...
2042  ham     Me not waking up until 4 in the afternoon, sup
5105  ham  I wnt to buy a BMW car urgently..its vry urgen...
5329  ham                      Sir, waiting for your letter.
5509  ham  Lol they were mad at first but then they woke ...